@import "tailwindcss";

/* --- Define your palette --- */
@theme {
  --color-text: #d7eafe;
  --color-background: #0a2243;
  --color-primary: #74b3fb;
  --color-secondary: #c0e4aa;
  --color-accent: #c20003;
}

/* --- Base styles --- */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
