@import url('https://fonts.googleapis.com/css?family=Fauna%20One:700|Fauna%20One:400');
@import "tailwindcss";

/* https://www.realtimecolors.com/?colors=d7eafe-0a2243-74b3fb-c0e4aa-c20003&fonts=Poppins-Poppins */
/* Your palette */
@theme {
  --color-text: #d7eafe;
  --color-background: #0a2243;
  --color-primary: #74b3fb;
  --color-secondary: #c0e4aa;
  --color-accent: #c20003;

  --color-text-50: #e6f2fe;
  --color-text-100: #cde5fe;
  --color-text-200: #9ccafc;
  --color-text-300: #6ab0fb;
  --color-text-400: #3896fa;
  --color-text-500: #067bf9;
  --color-text-600: #0563c7;
  --color-text-700: #044a95;
  --color-text-800: #033163;
  --color-text-900: #011932;
  --color-text-950: #010c19;

  --color-background-50: #e9f1fc;
  --color-background-100: #d3e2f8;
  --color-background-200: #a6c6f2;
  --color-background-300: #7aa9eb;
  --color-background-400: #4e8ce4;
  --color-background-500: #2170de;
  --color-background-600: #1b59b1;
  --color-background-700: #144385;
  --color-background-800: #0d2d59;
  --color-background-900: #07162c;
  --color-background-950: #030b16;

  --color-primary-50: #e6f1fe;
  --color-primary-100: #cee4fd;
  --color-primary-200: #9cc9fc;
  --color-primary-300: #6baefa;
  --color-primary-400: #3993f9;
  --color-primary-500: #0878f7;
  --color-primary-600: #0660c6;
  --color-primary-700: #054894;
  --color-primary-800: #033063;
  --color-primary-900: #021831;
  --color-primary-950: #010c19;

  --color-secondary-50: #f1f9ec;
  --color-secondary-100: #e2f3d8;
  --color-secondary-200: #c6e7b1;
  --color-secondary-300: #a9da8b;
  --color-secondary-400: #8dce64;
  --color-secondary-500: #70c23d;
  --color-secondary-600: #5a9b31;
  --color-secondary-700: #437425;
  --color-secondary-800: #2d4e18;
  --color-secondary-900: #16270c;
  --color-secondary-950: #0b1306;

  --color-accent-50: #ffe5e6;
  --color-accent-100: #ffcccd;
  --color-accent-200: #ff999b;
  --color-accent-300: #ff6669;
  --color-accent-400: #ff3336;
  --color-accent-500: #ff0004;
  --color-accent-600: #cc0003;
  --color-accent-700: #990003;
  --color-accent-800: #660002;
  --color-accent-900: #330001;
  --color-accent-950: #1a0000;

  /* Font Sizes */
  --text-sm: 0.750rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.210rem;
}

/* Base page styling */
html, body, #__next {
  height: 100%;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Fauna One', system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji","Segoe UI Emoji";
}
h1, h2, h3, h4, h5 {
  font-family: 'Fauna One';
  font-weight: 700;
}
