---
import Layout from '@/layouts/Layout.astro';
import { getAlbums } from '@/pages/api/photos';

// States
let failed: boolean = false;

const result = await getAlbums();
if (!result.ok) {
  failed = true;
}
console.log(result.photos)
---

<Layout>
  {failed ? (
    <p>{result.status}</p>
    <p>{result.message}</p>
  ) : (
    <h1>Good Status</h1>
  )}
</Layout>
