---
const {title} = Astro.props;
import "../styles/global.css";

function grabTitle() {
  if (!title) {
    return "Becker's Photogaphy";
  } else {
    return title + " | Becker's Photogaphy";
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{grabTitle()}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
