---
import Layout from '@/layouts/AdminLayout.astro';
---

<Layout title="Orders">
  <!-- <h1 class="text-lg">Astro</h1> -->
  <section class="text-center">
    <p class="text-text-200">Orders: Work in Progress</p>
  </section>
</Layout>
